.cb-product-cards {
    background-color: var(--col-grey-900);
    color: var(--col-white);
    &__card {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1.91 / 1;
    }
    &__inner {
        padding: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        flex: 1 1 auto;
    }
    &__title {
        font-size: var(--fs-600);
        font-weight: var(--fw-600);
        margin-bottom: 0.5rem;
    }
    &__link {
        margin-top: auto;
    }
}